/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #222, #222222de, #222222b0);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* first page  */
#firstPage{
    display: block;
}
.container {
    width: min(500px, 92vw);
    background: #f8f8f8;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container h1 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.answer-area {
    margin: 15px 0;
    background-color: rgba(255, 228, 196, 0.616);
    border-radius: 2px;
}

.answer {
    padding: 20px;
    transition: all 0.3s ease;
}

.answer:not(:last-child) {
    border-bottom: 2px solid #414040;
}

.answer-area:has(.answer:hover)>.answer:not(:hover) {
    opacity: 0.4;
    transform: scale(0.95);
}

.answer input,
.answer label {
    cursor: pointer;
}

button{
    width: 100%;
    background-color: #3838e2;
    padding: 7px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:disabled{
    background-color: #6e6ef1;
}
button:not(:disabled):hover {
    background-color: #2828c9;
}

.tests-timer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-bar {
    margin-top: 10px;
    background-color: #dedcdcb0;
    border: none;
    width: 100%;
    height: 20px;
    border-radius: 20px;
}

.progress {
    background-color: #a1c911d8;
    border: none;
    width: 50%;
    height: 20px;
    border-radius: 20px;
    transition: width 0.3s ease;
}

.correct{
    background-color: #00800094;
}
.incorrect{
    background-color: #ff02028e;
}


/* second page */

#secondPage{
    display: none;
}

#secondPage p{
   text-align: center;
   margin: 15px 0;
   font-size: 18px;
   font-weight: 500;
}
#secondPage p span{
   text-align: center;
   margin: 15px 0;
   font-size: 20px;
   font-weight: 700;
}
