@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
}
:root{
    --main-color:#222;
    --btn-color: #3308e2;
    --btn-deep-color: #2d07c3;
    --btn-hover-color:#ff5500;
    --text-color: white;
}
body{
    background-color: var(--main-color);
    padding: 15px 30px;
    min-height: 100vh;
    color: var(--text-color);
    text-align: center;
}
header {
    line-height: 1;
    margin-bottom: 30px;
}
header h1{
    font-size: 60px;
}
header p{
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    background-color: black;
    color: var(--text-color);
    padding: 10px;
    height: 35px;
    border:none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    overflow-x: auto;
}
button, .calc-total div{
    padding: 5px;
    border:none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
button{
    background-color: var(--btn-color);
    color: var(--text-color);
    transition: all 0.3s ease 0.1s;
}
button:hover{
    background-color: var(--btn-deep-color);
    transform: scale(1.02);
}
.calc-total{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(100px,1fr));
    gap: 5px;
}
.calc-total div{
    background: transparent;
    border: 1px solid white;
    text-align: left;
    max-width: fit-content;
}
.search {
   display: flex;
   justify-content: space-between;
}
.search button{
    width: 40% ;
}

table th,td {
    font-size: clamp(10px , 2vw , 20px) ;
    border-top: 1px solid #535353;
    padding: 4px;
}


table button{
    width: 100%;
    max-width: 150px;
    font-size: clamp(10px , 2vw , 20px) ;
    border-radius: 10px;
    padding: 2px 10px;
    transition: background 0.3s ease 0.05s;
}
table button:hover{
    background: var(--btn-hover-color);
}