* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: linear-gradient(to top, #ffffff, #f1f5f9);
    max-width: 80%;
    width: 500px;
    padding: 30px;
    margin: 100px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.35);
}

h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 16px;
}
.display {
    margin: 8px 0;
    display: flex;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #dce3ea;
    transition: all 0.3s ease;
}

.display:hover {
    background-color: #f8fafc;
}

.display input {
    width: 75%;
    height: 50px;
    overflow-x: scroll;
    padding-left: 5px;
    outline: none;
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.add {
    width: 25%;
    height: 50px;
    background: #2563eb;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: background 0.3s ease;
}
.add:hover {
    background-color: #1e40af;
}


.tasks:has(.task:hover)> .task:not(:hover) {
    opacity: 0.4;
    transform: scale(0.95);
}

.tasks{
    max-height: 400px;
    overflow-y: auto;
}
.task {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}


.task span {
    padding: 0 10px;
    padding-bottom: 2px;
    border-radius: 50%;
    background-color: #e4dbdb4e;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.task span:hover {
    background-color: #ff0000d5;
}

