*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right , blue , white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #498cc6;
    max-width: 80%;
    width: 400px;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.display-area{
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    overflow-x: scroll;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
}
.row{
    margin: 8px 0;
}
button{
    background: rgb(255, 255, 255);
    width: 24%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: all 0.3 ease-in-out;
}
button:hover{
    transform: scale(1.03);
    background: rgb(178, 181, 184);
}

